.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reactimage{
  text-align: center;
}

.card{
  width: 350px;
  height: 620px;
  background-color: rgb(241, 154, 48);
  border-radius: 20px;
}

.card h1{
  text-align: center;
  color: white;
  margin: 0.5rem 0 0;
}

.minicarddiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  

}