.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reactimage{
  text-align: center;
}

.card{
  width: 350px;
  height: 60vh;
  background-color: rgb(241, 154, 48);
  border-radius: 20px;
}

.card h1{
  text-align: center;
  color: white;
}